<table class="table table-hover">
    <thead>
        <tr>
            <th (click)="sort('date')">Date</th>
            <th (click)="sort('amount')">Montant</th>
            <th (click)="sort('balance')">Balance</th>
            <th (click)="sort('label')">Label</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions" [routerLink]="['/transaction', transaction.id]">
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.balance }}</td>
            <td>{{ transaction.label }}</td>
        </tr>
    </tbody>
</table>